<!doctype html><html lang="en"><head><meta charset="utf-8"><title>Shanghai</title><base href="/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!--  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/font-awesome.css">
    <script src="/static/assets/js/jquery-1.11.0.min.js"></script>
    <link href="/static/styles.d41d8cd98f00b204e980.bundle.css" rel="stylesheet"/>
</head><body><app-root></app-root><script src="/static/assets/js/bootstrap.min.js">

</script><script type="text/javascript" src="/static/inline.9a8df130a38fc2e9a6ab.bundle.js">

</script><script type="text/javascript" src="/static/polyfills.9e78c2120a34988d68de.bundle.js">

</script><script type="text/javascript" src="/static/vendor.80ab0d6e3db13b078825.bundle.js"></script>
<script type="text/javascript" src="/static/main.23d0c1462b3372fafd4e.bundle.js"></script></body></html>